@font-face {
    font-family: 'Google_font';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/Google_font.ttf") format('ttf');
}

body {
    background-color: #b8c8d9;
    width: 96%;
    height: 200%;
    font-family: Google_font, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
}
#title {
    text-align: center;
    color: #4017b2;
    font-size: 60px;
    filter: drop-shadow(3px 3px 0px #8974b9) drop-shadow(3px 3px 0px #c7bad0);
    text-shadow: 0 0 3px #fff;
}

#cluster-text {
    font-size: 25px;
    white-space: pre;
    margin-left: 2%;
    margin-right: 3%;
    vertical-align: middle;
}

#dropdown-cluster {
    font-size: 25px;
    margin-right: 3%;
    margin-left: 2%;
    width: 100px;
    vertical-align: middle;
}

#cytoscape-graph {
    background-color: #e9e9e9;
    margin-left: 3%;
}

#cytoscape-selectedNodeData-markdown {
    background-color: #b4b4b4;
    border: thin #808080 solid;
    width: 100%;
    white-space: pre;
}

#fig1 {
    width: 100%;
    height: 600px;
    margin-left: 3%;
}

#fig2{
    margin-bottom: 3%;
}
#fig3{margin-top: 5.3%;
margin-bottom: 3%;}


#fig4 {
    display:block;
    width: 80%;
    height: 650px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right:auto;
    margin-left: auto;
}